.product-container {
    display: grid;
    grid-template-columns: 13rem 1fr;
    grid-gap: 15px;
    background-color: var(--gray-200);
}

.main-container {
    background-color: var(--white);
    position: relative;
}

.wishlist {
    display: grid;
    grid-template-columns: 25rem 1fr;
    align-content: center;
    padding: 1rem;
}

.notification{
    position: absolute;
    right: 3rem;
    background-color: gold;
    padding: .6rem;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

.img-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.camera-images {
    height: 10rem;
    text-align: center;
}

.wishlist-icon {
    position: absolute;
    right: 1rem;
}

.heart-btn {
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 50%;
    padding: .2rem .3rem;
}

.setColor {
    color: var(--red-900);
}

.about-product {
    display: flex;
    justify-content: space-between;
}

.camera-title {
    font-weight: 500;
}

.features, .rating {
    font-size: .8rem;
}

.features {
    margin: .7rem 0 0 1rem;
    list-style: disc;
    color: var(--black-900);
}

.btn-container {
    display: grid;
    gap: .3rem;
    margin-top: 1rem;
}

.go-btn-style{
    background-color: var(--gray-200);
}

.go-btn-style:hover{
    background-color: var(--white);
}

.btn-style{
    background-color: var(--white);
}

.add-to-cart-btn {
    padding: .2rem 2rem;
    font-size: 1rem;
    width: 13rem;
}

.price-section {
    margin-right: 8rem;
    color: var(--black-900);
}

.price-off {
    text-decoration: line-through;
}

.percent-off {
    display: inline-block;
    padding-left: .7rem;
    font-size: x-small;
}

.wishlist:hover {
    color: var(--blue-600);
}

@media screen and (max-width:985px) {
    .heart-symbol {
        position: absolute;
        left: 13rem;
    }

    .navigation-bar {
        width: 110%;
    }

    html {
        font-size: 14px;
    }

    .wishlist {
        width: 16.5rem;
    }

    .move-to-cart {
        font-size: 14px;
        width: 112%;
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 13px;
    }

    .move-to-cart {
        font-size: 13px;
        width: 110%;
    }

    .wishlist {
        width: 15.5rem;
    }
}

@media screen and (max-width:544px) {
    .move-to-cart {
        width: 120%;
    }
}