.signup-main-container {
    height: 100vh;
    margin-top: 4rem;
}

.signup-container {
    background-color: lightgray;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem 2rem;
}

.input {
    padding: .4rem;
    margin-bottom: .8rem;
}

.checkbox-item {
    margin-top: -1rem;
}

.checkbox-input {
    width: 1rem;
    height: 1rem;
}

.submit-btn {
    font-size: 1.1rem;
    padding: .4rem;
    margin: 1rem 0 .5rem 0;
}

@media screen and (max-width:520px) {
    html {
        font-size: 13px;
    }
}