/*      Main Image Content */

.main-img-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
}

.about-web {
    position: absolute;
    top: 11rem;
    left: 6rem;
}

.img-txt {
    font-size: 1.2rem;
}

.shop-btn {
    margin-top: .9rem;
    font-size: 1rem;
    padding: .5rem .7rem;
}

.shop-btn:hover {
    transition: .5s;
    box-shadow: 5px 5px 5px var(--gray-900);
}

.main-img {
    width: 100%;
    height: 90vh;
}

.new-colle-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0 3rem 0;
}


.new-colle-title {
    margin: 2rem;
    text-align: center;
}

.img-style {
    height: 15rem;
    width: 16.5rem;
}

.category-img:hover {
    box-shadow: 8px 8px 5px var(--gray-500);
    transition: .7s;
}

.category-txt {
    background-color: var(--gray-200);
    padding: .5rem;
    margin-top: -.3rem;
    text-align: center;
}

@media screen and (max-width:754px) {
    html {
        font-size: 14px;
    }

    .about-web {
        text-align: center;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
}

@media screen and (max-width:480px) {
    .middle-txt {
        font-size: 12px;
    }
}