@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inspiration&family=Lobster&family=Playfair+Display:wght@600&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Creepster&family=Inspiration&family=Lobster&family=Playfair+Display:wght@600&family=Yellowtail&display=swap');

.header-bar {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px var(--gray-500);
    width: 100%;
    z-index: 1;
}

.login-section {
    width: 12rem;
    margin-right: 3rem;
}

.logo-design {
    margin-top: -.7rem;
}

.logo {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.small-txt {
    color: var(--white);
    font-family: 'Bad Script', cursive;
    font-size: small;
    font-weight: bold;
    margin-top: -6px;
}

.search-bar {
    width: 25%;
    font-size: 1.1rem;
    padding: .3rem .4rem;
    margin: 1.1rem 0;
    border-radius: .2rem;
    border: none;
    outline: none;
}

.auth-btn {
    font-size: 1.1rem;
    color: var(--white);
}

.auth-btn span{
    font-size: 1.8rem;
    cursor: pointer;
}

.auth-btn:hover {
    background-color: var(--secondary-color);
    color: var(--white);
}

.favorite-icon,
.cart-icon {
    color: var(--white);
    font-size: 1.7rem;
}

.btn {
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
}

.badge {
    font-size: .7rem;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 12% 24%;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    left: 1.1rem;
    top: -1.3rem;
}

.profile-order-view{
    box-shadow: 0px 0px 3px var(--secondary-color);
    position: fixed;
    right: 10.6rem;
    top: 3.4rem;
    padding: .3rem .6rem;
    background-color: var(--white);
}

.profile-order-view p a{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.profile-order-view p a:hover{
    cursor: pointer;
}

.dropdown-arrow{
    font-size: 2.3rem;
    position: fixed;
    top: 2.1rem;
    right: 11.8rem;
    color: var(--white);
}