@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inspiration&family=Lobster&family=Playfair+Display:wght@600&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Creepster&family=Inspiration&family=Lobster&family=Playfair+Display:wght@600&family=Yellowtail&display=swap');

.navigation-bar {
    display: flex;
    justify-content: space-between;
    padding-top: .3rem;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px var(--gray-500);
}

.side-nav-section {
    display: flex;
    width: 12rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 3rem;
}

.logo-design{
    display: flex;
    flex-direction: column;
    margin-top: -.8rem;
    margin-left: 1rem;
}
.logo {
    font-family: 'Creepster', cursive;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1.2rem;
}
.small-txt{
    font-family: 'Bad Script', cursive;
    margin-left: 1.1rem;
    font-size: small;
    font-weight: bold;
    margin-top: -6px;
}
.search-bar {
    width: 40%;
    font-size: 1.2rem;
    padding: .3rem;
    margin: 1rem 0;
}

.login-btn {
    font-size: 1.3rem;
    padding: .3rem .8rem;
}

.btn {
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
}

.badge {
    font-size: .7rem;
    background-color: var(--blue-600);
    padding: .2rem .4rem;
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    left: 1.1rem;
    top: -.8rem;
}