.footer-container {
    border-top: 1px solid;
    line-height: 1.5rem;
    padding: 0 0 1rem 0;
    background-color: var(--secondary-color);
    z-index: 2;
}

ul {
    color: var(--white);
}

ul a {
    color: var(--white);
}

.gaurantee-container {
    line-height: 1rem;
    color: var(--gray-900);
    margin-top: -.8rem;
}

.logo {
    max-height: 4rem;
}

.txt-size {
    font-size: .8rem;
}